<footer class="bg-[#44229f] shadow-sm shadow-white/25 w-full xl:w-[1120px] mx-auto mb-10">
    <div class="w-full mx-auto max-w-screen-xl p-4 flex items-center md:flex-row md:justify-between">
      <span class="text-sm text-body text-center md:text-left text-pretty">© 2025 <a href="https://stephennicholasjones.com" target="_blank">Stephen Nicholas Jones De Giorgi</a>. (Almost) All Rights Reserved.
    </span>
    <ul class="flex flex-wrap justify-center items-center mt-3 text-sm font-medium text-body sm:mt-0">
        <li>
            <a href="#about" class="inline-block me-4 md:me-6 transition-colors">About</a>
        </li>
        <li>
            <a href="#contact" class="inline-block transition-colors">Contact</a>
        </li>
    </ul>
    </div>
</footer>
